@charset "UTF-8";

@font-face {
	font-family: 'Apple SD Gothic Neo';
	font-weight: 100;
	font-style: normal;
	font-display: swap;
	src:
		url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Thin.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Thin.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Apple SD Gothic Neo';
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	src:
		url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraLight.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraLight.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Apple SD Gothic Neo';
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src:
		url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Light.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Light.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Apple SD Gothic Neo';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src:
		url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Regular.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Regular.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Apple SD Gothic Neo';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src:
		url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Medium.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Medium.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Apple SD Gothic Neo';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src:
		url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-SemiBold.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-SemiBold.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Apple SD Gothic Neo';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src:
		url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Bold.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Bold.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Apple SD Gothic Neo';
	font-weight: 800;
	font-style: normal;
	font-display: swap;
	src:
		url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraBold.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraBold.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Apple SD Gothic Neo';
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	src:
		url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Black.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Black.ttf')
		format('truetype');
}

@font-face {
	font-family: 'YiSunShinRegular';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinRegular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

html, body {
	font-family: 'Apple SD Gothic Neo';
	color: #F9F9F9;
	scroll-behavior: smooth;
}

@media ( max-width : 430px) {
	html, body {
		font-size: 0.9rem;
	}
}

a {
  color: inherit;             
  text-decoration: none;    
}

a:visited {
  color: inherit;          
}

a:focus,
a:active {
  outline: none;           
}

.body-wrapper{
	background-color: #171717;
	padding: 0px;
	height: 100%;
}

.menu-container  {
	background-color: transparent;
	width: 100%;
	position: fixed;
	z-index: 5;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	font-size: 1rem;
}

.menu-container .menu-wrapper {
	background-color: #171717;
	height: 70px;
	padding: 0px;
}

.menu-container .menu-wrapper .menu {
	width: 16.666%;
	padding-left: 25px;
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	border-color: #212121;
}

.menu-container .menu-wrapper .menu:hover {
	cursor: pointer;
	color: #A9701B;
}

.menu-container .menu-wrapper .menu:last-child {
	width: 16.666%;
	padding-left: 25px;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #212121;
}

.menu-container .menu-button-wrapper {
	background-color: #171717;
	height: 70px;
	padding: 0px;
	display: none !important;
	opacity: 0.9;
}

.menu-container .menu-button-wrapper div {
	width: 50%;
	padding: 0px 10px 0px 10px;
}

.menu-container .menu-button-wrapper i {
	font-size: 2rem;
	cursor: pointer;
}

.menu-container #menu .menu{
	height: 60px; font-size: 1.2rem;
	cursor: pointer;
}

.menu-container #menu .menu:hover{
	color: #A9701B;
}


@media ( max-width : 850px) {
	.menu-container .menu-wrapper {
		display: none !important;
	}
	.menu-container .menu-button-wrapper {
		display: flex !important;
	}
}

section {
	max-width: 1920px;
	padding: 0px;
	margin: 0px;
	background-color: #171717;
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	width: 100%;
	padding-right: calc(var(--bs-gutter-x)* 0.5);
	padding-left: calc(var(--bs-gutter-x)* 0.5);
	margin-right: auto;
	margin-left: auto;
}

.container{
	opacity: 0;
    transform: translateY(100px);
    transition: all 0.6s ease-out;
}

.container:not(.hide){
    opacity: 1;
    transform: translateY(0);
}

.section-home {
	background-image: linear-gradient(to bottom, rgba(23, 23, 23, 0) 0%,
		rgba(23, 23, 23, 1) 100%), url('../image/section01-bg.png');
	min-height: 1000px;
	height: 100vh;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
		background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.home-container {
	height: 100%;
	padding-top: 360px;
}

.home-container .introduction-animation-wrapper {
	position: relative;
	height: 120px;
}

.home-container .introduction-animation-wrapper .text-animation {
	animation: fadeInOut 16s ease-in-out infinite;
	opacity: 0;
	font-size: 5rem;
	color: white;
	position: absolute;
}

.home-container .introduction-animation-wrapper .text-animation:nth-child(1) {
	animation-delay: 0s;
}

.home-container .introduction-animation-wrapper .text-animation:nth-child(2) {
	animation-delay: 4s;
}

.home-container .introduction-animation-wrapper .text-animation:nth-child(3) {
	animation-delay: 8s;
}

.home-container .introduction-animation-wrapper .text-animation:nth-child(4) {
	animation-delay: 12s;
}

@keyframes fadeInOut {
  0%   		{ opacity: 0; }
  6.25%  	{ opacity: 1; }
  18.75% 	{ opacity: 1; }
  25%  		{ opacity: 0; }
  100% 		{ opacity: 0; }
}

.home-container .introduction-wrapper {
	font-size: 5rem;
}

.home-container .introduction-wrapper font {
	font-weight: bold;
	font-size: 6.5rem;
}

@media ( max-width : 1199px) {
	.home-container .introduction-animation-wrapper .text-animation {
		font-size: 4rem;
	}
	.home-container .introduction-wrapper {
		font-size: 4rem;
	}
	.home-container .introduction-wrapper font {
		font-size: 5.5rem;
	}
}

@media ( max-width : 991px) {
	.home-container .introduction-animation-wrapper {
		height: 90px;
	}
	.home-container .introduction-animation-wrapper .text-animation {
		font-size: 3rem;
	}
	.home-container .introduction-wrapper {
		font-size: 3rem;
	}
	.home-container .introduction-wrapper font {
		font-size: 4.5rem;
	}
}

@media ( max-width : 767px) {
	.section-home{
		height: 100vh;
		min-height: 700px;
	}
	.home-container {
		padding-top: 260px;
	}
	.home-container .introduction-animation-wrapper {
		height: 50px;
	}
	.home-container .introduction-animation-wrapper .text-animation {
		font-size: 2rem;
	}
	.home-container .introduction-wrapper {
		font-size: 2rem;
	}
	.home-container .introduction-wrapper font {
		font-size: 3.5rem;
	}
}

@media ( max-width : 450px) {
	.home-container .introduction-animation-wrapper .text-animation {
		font-size: 1.8rem;
	}
	.home-container .introduction-wrapper {
		font-size: 1.8rem;
	}
	.home-container .introduction-wrapper font {
		font-size: 3.3rem;
	}
}

@media ( max-width : 414px) {
	.home-container .introduction-animation-wrapper .text-animation {
		font-size: 1.5rem;
	}
	.home-container .introduction-wrapper {
		font-size: 1.5rem;
	}
	.home-container .introduction-wrapper font {
		font-size: 2.8rem;
	}
}

.section-about{
	height: 1300px;
}

.about-container{
	height: 100%;
}

.about-container .about-image-wrapper{
	width: 700px; 
	margin-top: 66px;
}

.about-container .about-image-wrapper img {
	height: auto; max-width: 100%;
}

.about-container .about-text-wrapper{
	width: 750px; height: 400px; margin-left: -4rem; margin-top: 280px;
}

.about-container .about-text-wrapper .title{
	color: #A9701B; font-size: 1.5rem; font-weight: bold;
}

.about-container .about-text-wrapper .title .line{
	flex: 1; height: 1.5px; background-color: #A9701B; margin-right: 10px; max-width: 80px;
}

.about-container .about-text-wrapper .content{
	color: white; padding-top: 35px;
}

.about-container .about-text-wrapper .content p{
	line-height: 2.7; font-size: 1.2rem;
}

@media ( max-width : 1199px) {
	.section-about{
		height: 1800px;
	}
	.about-container .about-image-wrapper{
		width: 100%;
	}
	.about-container .about-image-wrapper img {
		max-width: 80%;
	}
	.about-container .about-text-wrapper{
		width: 100%;
		margin-top: 70px;
		margin-left: 0rem;
		padding-left: 96px;
	}
}

@media ( max-width : 991px) {
	.section-about{
		height: 1500px;
	}
	.about-container .about-text-wrapper{
		padding-left: 72px;
	}
	.about-container .about-text-wrapper .content p{
		font-size: 1.1rem;
	}
}

@media ( max-width : 767px) {
	.section-about{
		height: 1300px;
	}
	.about-container .about-text-wrapper{
		padding-left: 54px;
		padding-right: 54px;
	}
	.about-container .about-text-wrapper .content p{
		font-size: 1rem;
		text-align: justify;
	}
	.about-container .about-text-wrapper .content p br:not(:first-of-type){
		display: none;
	}
}

@media ( max-width : 579px) {
	.about-container .about-text-wrapper{
		padding-left: 10%;
	}
}

@media ( max-width : 430px) {
	.about-container .about-text-wrapper .content p br {
		display: none;
	}
}

.section-career {
	background-image:
	  linear-gradient(to top, rgba(23, 23, 23, 1) 0%, rgba(23, 23, 23, 0) 30%),
	  linear-gradient(to bottom, rgba(23, 23, 23, 1) 0%, rgba(23, 23, 23, 0) 30%),
	  url('../image/section03-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	padding-top: 100px;
	padding-bottom: 80px;
}

.section-career .career-container .title{
	color: #A9701B; font-size: 1.5rem; font-weight: bold;
}

.section-career .career-container .title .line{
	flex: 1; height: 1.5px; background-color: #A9701B; margin-right: 10px; max-width: 120px;
}

.section-career .career-container .content{
	padding-top: 90px;
	padding-bottom: 100px;
}

.section-career .career-container .content .company-wrapper .company-info-wrapper .line{
	flex: 1; height: 1.5px; background-color: #5B5B5C; max-width: 100%;
}

.section-career .career-container .content .company-wrapper .company-image{
	width: 190px;
	height: 190px;
	border-radius: 5%;
	object-fit: contain;
	background-color: #fff;
}

.section-career .career-container .content .company-wrapper .company-info-wrapper{
	width: 100%; 
	padding-left: 30px;
}

.section-career .career-container .content .company-wrapper .company-info-wrapper p:nth-child(2){
	margin-top: 30px; 
	font-weight: bold; 
	font-size: 1.2rem;
}

.career-container .content .timeline-wrapper .timeline {
	position: relative;
	padding-left: 25px;
	border-left: 1.5px solid #5B5B5C;
	padding-top: 80px;
}

.career-container .content .timeline-wrapper .timeline:nth-child(1) {
	margin-left: 90px;
}

.career-container .content .timeline-wrapper .timeline:nth-child(2) {
	margin-left: 150px;
}

.career-container .content .timeline-wrapper .timeline .project-wrapper {
	position: relative;
	margin-top: 80px;
	min-width: 525px;
	cursor: pointer;
}

.career-container .content .timeline-wrapper .timeline .project-wrapper::before {
	content: '';
	position: absolute;
	left: -31.5px;
	top: 5px;
	width: 12px;
	height: 12px;
	background-color: #5B5B5C;
	border: 3px solid #5B5B5C;
	border-radius: 50%;
}

.career-container .content .timeline-wrapper .timeline .project-wrapper:first-of-type {
	margin-top: 0px;
}

.career-container .content .timeline-wrapper .timeline .project-wrapper .career-project-image {
	width: 140px;
	height: 140px;
	border-radius: 5%;
	object-fit: contain;
	background-color: #fff;
}

.career-container .content .timeline-wrapper .timeline .project-wrapper div {
	border-top: 2px solid #212121;
	padding-top: 20px;
	margin-left: 20px;
	width: 100%;
	position: relative;
  	overflow: hidden;
}

.career-container .content .timeline-wrapper .timeline .project-wrapper div::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 2px;
	width: 0%;
	background-color: #5B5B5C;
	transition: none;
}

.career-container .content .timeline-wrapper .timeline .project-wrapper div.hover-in::before {
	animation: carrer-fill-bar 0.3s forwards;
}

.career-container .content .timeline-wrapper .timeline .project-wrapper div.hover-out::before {
	animation: carrer-unfill-bar 0.3s forwards;
}

@keyframes carrer-fill-bar {
  from { width: 0%; }
  to { width: 100%; }
}

@keyframes carrer-unfill-bar {
  from { width: 100%; }
  to { width: 0%; }
}

.career-container .content .timeline-wrapper .timeline .project-wrapper div p{
	font-size: 1rem;
}

.career-container .content .timeline-wrapper .timeline .project-wrapper div p:first-of-type{
	font-weight: bold;
}

@media ( max-width : 1399px) {
	.career-container .content .timeline-wrapper .timeline:nth-child(2) {
		margin-left: 90px;
	}
	.career-container .content .timeline-wrapper .timeline .project-wrapper {
		min-width: 450px;
	}
}

@media ( max-width : 1199px) {
	.career-container .content .timeline-wrapper .timeline:nth-child(2) {
		margin-left: 90px;
	}
	.career-container .content .timeline-wrapper .timeline:nth-child(2) .project-wrapper:first-of-type
		{
		margin-top: 0px;
	}
	.career-container .content .timeline-wrapper .timeline .project-wrapper {
		min-width: 0px;
	}
}

@media ( max-width : 767px) {
	.section-career .career-container .content .company-wrapper .company-image{
		width: 150px;
		height: 150px;
	}
	.career-container .content .timeline-wrapper .timeline .project-wrapper .career-project-image {
		width: 110px;
		height: 110px;
	}
	.career-container .content .timeline-wrapper .timeline .project-wrapper div p:nth-child(3) {
		display: none;
	}
	.career-container .content .timeline-wrapper .timeline:nth-child(1) {
		margin-left: 5px;
	}
	.career-container .content .timeline-wrapper .timeline:nth-child(2) {
		margin-left: 5px;
	}
}


.section-project{
	min-height: 800px;
	height: 120vh;
	padding-top: 100px;
	padding-bottom: 80px;
}

.section-project .project-container .title{
	color: #A9701B; font-size: 1.5rem; font-weight: bold;
}

.section-project .project-container .title .line{
	flex: 1; height: 1.5px; background-color: #A9701B; margin-right: 10px; max-width: 120px;
}

.section-project .project-container .content{
	padding-top: 100px;
}

.section-project .project-container .content .project-wrapper{
	cursor: pointer;
	min-width: 1000px;
	width: fit-content;
}


.section-project .project-container .content .project-wrapper .project-image{
	width: 190px;
	height: 190px;
	border-radius: 5%;
	object-fit: contain;
	background-color: #fff;
}

.section-project .project-container .content .project-wrapper .project-info{
	width: 100%;
	height: 190px;
	border-top: 2px solid #212121;
	padding-top: 20px;
	margin-left: 30px;
	position: relative;
  	overflow: hidden;
}

.section-project .project-container .content .project-wrapper .project-info::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #5B5B5C;
  transition: none;
}

.section-project .project-container .content .project-wrapper .project-info.hover-in::before{
	animation: fill-bar 1s forwards;
}

.section-project .project-container .content .project-wrapper .project-info.hover-out::before{
	animation: unfill-bar 1s forwards;
}


@keyframes fill-bar {
  from { width: 0%; }
  to { width: 100%; }
}

@keyframes unfill-bar {
  from { width: 100%; }
  to { width: 0%; }
}

.section-project .project-container .content .project-wrapper .project-info p{
	font-size: 1rem;
}

.section-project .project-container .content .project-wrapper .project-info p:first-of-type{
	font-weight: bold;
	font-size: 1.5rem;
}

.section-project .project-container .content .project-wrapper .project-info .tag{
	margin-right: 10px;
}

@media ( max-width : 1199px) {
	.section-project .project-container .content .project-wrapper{
		min-width: 0px;
	}
}


@media ( max-width : 991px) {
	.section-project .project-container .content .project-wrapper .project-info p{
		margin-bottom: 10px;
	}
}

@media ( max-width : 767px) {
	.section-project .project-container .content .project-wrapper .project-image{
		width: 150px;
		height: 150px;
	}
	.section-project .project-container .content .project-wrapper .project-info
		{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding-left: 10px;
		padding-top: 0px;
	}
	.section-project .project-container .content .project-wrapper .project-info p
		{
		display: block;
		white-space: normal;
		margin: 0 0 0.5rem 0;
	}
	.section-project .project-container .content .project-wrapper .project-info p:nth-child(3){
		display: none;
	}
}

@media ( max-width : 430px) {
	.section-project .project-container .content .project-wrapper .project-info p:first-of-type{
		font-size: 1.4rem;
	}
}

.section-skill{
	background-image:
	  linear-gradient(to top, rgba(23, 23, 23, 1) 0%, rgba(23, 23, 23, 0) 30%),
	  linear-gradient(to bottom, rgba(23, 23, 23, 1) 0%, rgba(23, 23, 23, 0) 30%),
	  url('../image/section05-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 1200px;
	height: fit-content;
	padding-top: 100px;
	padding-bottom: 100px;
}

.section-skill .skill-container .title{
	color: #A9701B; font-size: 1.5rem; font-weight: bold;
}

.section-skill .skill-container .title .line{
	flex: 1; height: 1.5px; background-color: #A9701B; margin-right: 10px; max-width: 120px;
}

.section-skill .skill-container .content{
	padding-top: 60px;
}

.section-skill .skill-container .content .skill-wrapper:not(:first-of-type){
	padding-top: 80px;
}

.section-skill .skill-container .content .skill-wrapper .skill-category{
	font-weight: bold;
	border-bottom: 1px solid #5B5B5C;
	padding-bottom: 15px;
	margin-bottom: 25px;
	font-size: 1rem;
}

.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper{
	gap: 10px;
	margin-left: 0px !important;
	margin-right: 0px !important;
	
}

.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge{
	height: 52px;
	width: fit-content;
	min-width: 146.5px;
	max-width: 200px !important;
	border-radius: 5px;
	font-weight: bold;
	background-color: #212121;
	user-select:none;
	font-size: 0.9rem;
}

.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge span{
	margin-left: 8px; margin-top: 3px;
}

.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.java{width: 28px; margin-bottom: 7px;}
.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.html{width: 22px; fill: #E34F26;}
.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.javascript{width: 21px; fill: #F7DF1E;}
.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.css{width: 23px; fill: #663399;}
.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.spring{width: 22px; fill: #6DB33F}
.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.spring-boot{width: 22px; fill: #6DB33F}
.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge img.devon{width: 22px;}
.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge img.egovframework{height: 21px;}
.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.jquery{width: 23px; fill: #0769AD}
.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.oracle{width: 55px;}
.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.mariadb{width: 22px; fill: #0769AD}
.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge img.cubrid{width: 22px;}
.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.git{width: 22px; fill: #F05032}
.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.github{width: 22px; fill: #F9F9F9}
.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.docker{width: 22px; fill: #2496ED}
.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.aws{width: 22px;}
.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge img.oracle-cloud{width: 22px;}

@media ( max-width : 1437px) {
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge{
		min-width: 142.3px;
	}
}

@media ( max-width : 1399px) {
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge{
		min-width: 11.6%;
	}
}

@media ( max-width : 1199px) {
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge{
		min-width: 128.5px;
	}
}

@media ( max-width : 998px) {
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge{
		min-width: 127.4px;
	}
}

@media ( max-width : 991px) {
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge{
		min-width: 18.85%;
	}
}

@media ( max-width : 767px) {
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge{
		min-width: 23.5%;
	}
}

@media ( max-width : 576px) {
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge{
		min-width: 23.3%;
		font-size: 0.8rem;
	}
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.java{width: 26px;}
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.html{width: 20px;}
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.javascript{width: 19px;}
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.css{width: 21px;}
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.spring{width: 20px;}
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.spring-boot{width: 20px;}
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge img.devon{width: 20px;}
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge img.egovframework{height: 19px;}
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.jquery{width: 21px;}
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.oracle{width: 53px;}
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.mariadb{width: 20px;}
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge img.cubrid{width: 20px;}
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.git{width: 20px;}
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.github{width: 20px;}
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.docker{width: 20px;}
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge svg.aws{width: 20px;}
	.section-skill .skill-container .content .skill-wrapper .skill-badge-wrapper .badge img.oracle-cloud{width: 20px;}
}


.section-contact{
	min-height: 85vh;
	/* height: 85vh; */
	height: fit-content;
	padding-top: 100px;
	padding-bottom: 150px;
}

.section-contact .contact-container .title{
	color: #A9701B; font-size: 1.5rem; font-weight: bold; width: 100%;
}

.section-contact .contact-container .content{
	padding-top: 100px;
}

.section-contact .contact-container .content .contact-wrapper{
	font-weight: bold; font-size: 1.2rem;
}

.section-contact .contact-container .content .contact-wrapper .line{
	flex: 1; height: 1.5px; background-color: #F9F9F9; margin-right: 17px; max-width: 40px; margin-bottom: 7px;
}

.section-contact .contact-container .content .contact-wrapper .email, .phone, .link{
	margin-bottom: 30px; height: 50px; 
}

.section-contact .contact-container .content .contact-wrapper .label{
	min-width: 120px;
}

.section-contact .contact-container .content .contact-wrapper .colon{
	min-width: 30px;
}

.section-contact .contact-container .content .contact-wrapper .value{
	min-width: 30px;
}

.section-contact .contact-container .content .contact-wrapper .value button{
	background-color: #212121; color: #F9F9F9; min-width: 100px;
}

.section-contact .contact-container .content .qna-wrapper div{
	margin-bottom: 30px;
}

.section-contact .contact-container .content .qna-wrapper .btn-send{
	background-color: #212121; color: #F9F9F9; min-width: 100px;
}


@media ( max-width : 991px) {
	.section-contact .contact-container .content .contact-wrapper{
		width: fit-content !important;
	}
	.section-contact .contact-container .content .contact-wrapper .line{
		display: none;
	}
	.section-contact .contact-container .content .qna-wrapper{
		margin-top: 130px;
	}
	.section-contact .contact-container .content .qna-wrapper div{
		text-align: center;
	}
	.section-contact .contact-container .content .qna-wrapper #name, #sender-info, #text{
		width: 70% !important;
		display: block;
  		margin: 0 auto; 
	}
}

@media ( max-width : 767px) {
	.section-contact .contact-container .content .contact-wrapper{
		font-size: 1rem;
	}
	.section-contact .contact-container .content .contact-wrapper .label{
		min-width: 80px;
	}
	.section-contact .contact-container .content .contact-wrapper .email, .phone, .link{
		margin-bottom: 5px;
	}
	
}